# In the directory /feautre, build the Dockerfile using docker-build-push action
# If it is a tag on  main, the push the image, otherwise just build it without pushing.
# Build amd64 and arm64 images and push to GitHub Container Registry as a single multiarch image:

name: Build and Push Feature Docker Image
on:
  push:
    branches:
      - main
    paths:
      - service/**
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
  build-and-push:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./service
          push: ${{ github.ref_type == 'tag' || github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{ github.repository_owner }}/feature:latest,ghcr.io/${{ github.repository_owner }}/feature:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
