# In the directory /feautre, build the Dockerfile using docker-build-push action
# If it is a tag on  main, the push the image, otherwise just build it without pushing.
# Build amd64 and arm64 images and push to GitHub Container Registry as a single multiarch image:
# only get active on the patch /service

name: feature-ui
on:
  push:
    branches:
      - main
    paths:
      - 'ui/**'
      - '.github/workflows/ui.yaml'
    tags:
      - '*.*.*'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
      runs-on: ubuntu-latest
      steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # We need to pass the tag or the short hash as build argument VERSOION to the Dockerfile
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./ui
          push: ${{ github.ref_type == 'tag' || github.ref == 'refs/heads/main' }}
          tags: ghcr.io/${{ github.repository_owner }}/feature-ui:latest,ghcr.io/${{ github.repository_owner }}/feature-ui:${{ github.ref_name }}
          platforms: linux/amd64,linux/arm64
          build-args: |
              VERSION=${{ github.ref_name }}
